force-app/main/default/flows/Calculate_Last_Event_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Last_Date_Time</name>
        <label>Assign Last Date Time</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Last_Event_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Attendee__r.Last_Event_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Attendee_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignt_Event_Date_Time</name>
        <label>Assignt Event Date Time</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Event_End_Date_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event__r.End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Last_Date_Time</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_Date</name>
        <label>Compare Date</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Date_Later_Than_Last_Event_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_End_Date_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Last_Event_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attendee</targetReference>
            </connector>
            <label>Event Date Later Than Last Event Date</label>
        </rules>
    </decisions>
    <interviewLabel>Calculate Last Event Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Last Event Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Attendee</name>
        <label>Update Attendee</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Last_Event_Date__c</field>
            <value>
                <elementReference>Event_End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Attendee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Attendee_Status</name>
        <label>Update Attendee Status</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Compare_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Attendee__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignt_Event_Date_Time</targetReference>
        </connector>
        <object>Event_Attendee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Event_End_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Last_Event_Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
